doctype html
html
  head
    title ruby-mvc-framework
  body
    - unless @posts.empty?
      ul
        - @posts.each do |post|
          h1
            puts #{post.title}
          puts #{post.content}  
          hr